<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>WebSocket Test</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket@2.3.4-next/lib/stomp.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1>WebSocket Test</h1>
<script th:inline="javascript">
    const socket = new SockJS('websocket');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/cart-count/f36911dd-dba8-4cf5-b6eb-32fba832401e' , function (message) {
            console.log('Received message:', message.body);
            document.getElementById('cart-count').innerText = message.body;
            alert('Received message: ' + message.body);
        });
    }, function (error) {
        console.error('Connection error:', error);
    });
</script>

<div>Ürün Sepet Sayısı: <span id="cart-count">0</span></div>

</body>
</html>